<!DOCTYPE HTML>
<html>
<head>

<title>Twitter Clone</title> 

<link rel="stylesheet" href="static/css/main.css" type="text/css">
<link rel="stylesheet" href="static/css/nav.css" type="text/css">
</head> 
<body> 

<nav>

   <ul class="nav-left">
      <a href="/"><li>Home</li></a>
      <a href="#"><li>Notifications</li></a>
      <a href="#"><li>Messages</li></a>
      <a href="/users"><li>Users</li></a>
   </ul>

   <ul class="nav-right">
      <a href="#"><li>Log In</li></a>
      <a href="/signup"><li>Sign Up</li></a>
   </ul>

</nav>



   
</body> 
</html>


