<!DOCTYPE HTML>
<html>
<head>

<title>Sign Up</title> 

<link rel="stylesheet" href="static/css/main.css" type="text/css">
<link rel="stylesheet" href="static/css/nav.css" type="text/css">
</head> 
<body> 

<nav>

   <ul class="nav-left">
      <a href="/"><li>Home</li></a>
      <a href="#"><li>Notifications</li></a>
      <a href="#"><li>Messages</li></a>
      <a href="/users"><li>Users</li></a>
   </ul>

   <ul class="nav-right">
      <a href="#"><li>Log In</li></a>
      <a href="/signup"><li>Sign Up</li></a>
   </ul>

</nav>

<div class="main">

   <div class="form">
       
      <form action="signup/submit" method="post">

         Name: <input type="text" name="name"> </input> <br/>

         Username: <input type="text" name="username"> </input> <br/>

         <button type="submit">Submit</button>
      </form>

   </div>



    
</div>
   
</body> 
</html>




