

<main role="main">
   

   <div class="form">
       
      <form action="/signup/submit" method="post">

         First Name: <input type="text" name="firstName"> </input> <br>
         Last Name: <input type="text" name="lastName"> </input> <br>
         Username: <input type="text" name="username"> </input> <br>
         E-mail: <input type="text" name="email"> </input> <br>
         Password: <input type="password" name="password"> </input> <br>
         Gender: <br>
            <input type="radio" name="gender" value="male" checked>Male<br>
            <input type="radio" name="gender" value="female">Female<br>
            <input type="radio" name="gender" value="other">Other<br>

         <button type="submit">Submit</button>
      </form>

   </div>


</main>
   




